.container {
  height: 100%;
}
.quote-UL_icon-button {
  padding: 10px;
  margin: 5px;
  border: none;
  background: none;
}

.quote-card_main-body {
  width: 20rem;
  margin: 5px;
  padding: 5px;
}

.api-search_button {
  margin: 5px;
  width: 100%;
}

.api-search_button > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1.1px;
  word-spacing: 1.5px;
  margin: 5px;
}

.jumbotron {
  text-align: center;
  background-color: rgba(0, 0, 255, 0.75);
}
