html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

#app {
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

.container-fluid {
  height: 100%;
  /* overflow: auto; */
}

nav {
  padding: 5px 5px 5px 0;
  margin-bottom: 5px;
  height: 5%;
}

#search-page__container {
  min-height: 88%;
  background-image: url("/public/assets/images/quotes-page-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding: 10px;
}

#joke-page__container {
  min-height: 88%;
  background-image: url("/public/assets/images/jokes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding: 10px;
}

#profile-page__container {
  min-height: 88%;
  background-image: url("/public/assets/images/jokes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  margin-bottom: 50px;
}

.footer-style {
  background-color: rgba(0, 0, 0, 0.75);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  height: 7%;
  color: white;
  /* margin-top: -20px; */
  /* position: fixed; */
}
